{% extends 'baseBack.html.twig' %}

{% block body %}
    <div class="example-wrapper" id="app">
        <User-edit
                thumb="{{ user.thumbnail.link }}"
                email="{{ user.email }}"
                full-name="{{ user.fullName }}"
                address="{{ user.address }}"
                role="{{ user.roles[0] }}"
                id="{{ user.id }}"
                pwd="{{user.password}}">
        </User-edit>
    </div>
{% endblock %}
